.wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.wrapper label {
    position: relative;
    float: right;
    color: #c8c8c8;
    font-size: 10px !important;
    line-height: 10px;
}

.wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 900;
    margin-bottom: 0px !important;
}

.wrapper input:checked ~ label:before {
    color: #ffc107;
}

.wrapper label:hover ~ label:before {
    color: #ffdb70;
}

.wrapper label:hover:before {
    color: #ffc107;
}
