/* Accordion */
.accordion .card {
    margin-top: 5px;
}

.accordion .card:first-child {
    margin-top: 0;
}

.accordion .card:first-of-type,
.accordion .card:not(:first-of-type):not(:last-of-type),
.accordion .card:last-of-type {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0.25rem;
}

.accordion .card-header {
    padding: 0;
    border-radius: 0.25rem;
    border-bottom: 0;
    margin: -1px;
}

.accordion .card-header a {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
}

.accordion .card-header a:hover,
.accordion .card-header a:focus {
    text-decoration: none;
}

.accordion .card-header a [class^="icon-"] {
    margin-right: 4px;
    position: relative;
    top: 1px;
}

.accordion .card-header a [class*="fa-"],
.accordion .card-header a .icons {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.accordion .card-header a .icons {
    top: 1px;
}

.accordion.accordion-sm .card-header a {
    padding: 5px 15px;
    font-size: 0.85em;
}

.accordion.accordion-sm .card-body {
    font-size: 0.9em;
}

.accordion.accordion-lg .card-header a {
    padding: 15px 15px;
    font-size: 1em;
    font-weight: 600;
}

.accordion.without-bg .card-default {
    background: transparent !important;
}

.accordion.without-bg .card-default > .card-header {
    background: transparent !important;
}

.accordion.without-bg .card-body {
    padding-top: 0;
}

.accordion.without-borders .card {
    border: 0 !important;
    box-shadow: none;
    border-radius: 0;
}

.accordion.without-borders .card-header a {
    padding-left: 0;
    padding-right: 0;
}

.accordion.without-borders .card-body {
    padding: 0;
}

.accordion.accordion-modern .card:first-of-type,
.accordion.accordion-modern .card:not(:first-of-type):not(:last-of-type),
.accordion.accordion-modern .card:last-of-type {
    border: 4px solid #f7f7f7;
}

.accordion.accordion-modern .card .card-header {
    background-color: #f7f7f7;
    border-radius: 0;
}

.accordion.accordion-modern-2 > .card {
    border: 1px solid transparent !important;
    transition: ease border-color 300ms;
}

.accordion.accordion-modern-2 > .card .card-header a {
    position: relative;
    padding: 23px 30px;
    background-color: #f4f4f4;
    transition: ease background-color 300ms, ease color 300ms;
    border-radius: 4px;
}

.accordion.accordion-modern-2 > .card .card-header a:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 25px;
    font-size: inherit;
    font-weight: inherit;
    transform: translate3d(0, -50%, 0) rotate(45deg);
    transform-origin: 50% 50%;
    transition: ease transform 300ms;
}

.accordion.accordion-modern-2 > .card .card-header a.collapsed:after {
    transform: translate3d(0, -50%, 0) rotate(0deg);
}

.accordion.accordion-modern-2 > .card .card-header + .collapse.show,
.accordion.accordion-modern-2 > .card .card-header + .collapsing {
    border: 1px solid transparent;
    border-top: 0;
}

.accordion.accordion-modern-2 > .card + .card {
    margin-top: 17px;
}

.accordion.accordion-modern-status > .card {
    border: 1px solid transparent !important;
    transition: ease border-color 300ms;
}

.accordion.accordion-modern-status > .card .card-header a {
    position: relative;
    padding: 23px 30px;
    transition: ease background-color 300ms, ease color 300ms;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion.accordion-modern-status > .card .card-header a:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 25px;
    font-size: inherit;
    font-weight: inherit;
    transform: translate3d(0, -50%, 0) rotate(45deg);
    transform-origin: 50% 50%;
    transition: ease transform 300ms;
}

.accordion.accordion-modern-status > .card .card-header a.collapsed:after {
    transform: translate3d(0, -50%, 0) rotate(0deg);
}

.accordion.accordion-modern-status > .card .card-header + .collapse.show,
.accordion.accordion-modern-status > .card .card-header + .collapsing {
    border: 0;
}

.accordion.accordion-modern-status > .card + .card {
    margin-top: 17px;
}

.accordion.accordion-modern-status.accordion-modern-status-borders > .card {
    border: 1px solid rgba(0, 0, 0, 0.085) !important;
}

.accordion.accordion-modern-status.accordion-modern-status-borders
    > .card
    .card-header {
    background: transparent !important;
}

.accordion.accordion-modern-status.accordion-modern-status-borders
    > .card
    .card-header
    a {
    background: transparent !important;
}

.accordion.accordion-modern-status.accordion-modern-status-arrow
    > .card
    .card-header
    a:after {
    transform: translate3d(0, -50%, 0) rotate(180deg);
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
}

.accordion.accordion-modern-status.accordion-modern-status-arrow
    > .card
    .card-header
    a.collapsed:after {
    transform: translate3d(0, -50%, 0) rotate(0deg);
}

.accordion.accordion-modern-grey-scale-1 .card:first-of-type,
.accordion.accordion-modern-grey-scale-1
    .card:not(:first-of-type):not(:last-of-type),
.accordion.accordion-modern-grey-scale-1 .card:last-of-type {
    border-color: #ededed;
}

.accordion.accordion-modern-grey-scale-1 .card .card-header {
    background-color: #ededed;
}

.responsive-tabs-container .accordion-link {
    display: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

@media (max-width: 767px) {
    .responsive-tabs-container.accordion-xs .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-xs .accordion-link {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive-tabs-container.accordion-sm .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-sm .accordion-link {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-tabs-container.accordion-md .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-md .accordion-link {
        display: block;
    }
}

@media (min-width: 1200px) {
    .responsive-tabs-container.accordion-lg .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-lg .accordion-link {
        display: block;
    }
}

.accordion .card-header a {
    color: #151515;
}

html .accordion.accordion-primary .card-header {
    background-color: #3c2180 !important;
}

html .accordion.accordion-primary .card-header a {
    color: #fff;
}

html
    .accordion-modern-status-primary.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #3c2180;
    color: #fff !important;
}

html
    .accordion-modern-status-primary.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #3c2180 !important;
}

html .accordion.accordion-secondary .card-header {
    background-color: #e36159 !important;
}

html .accordion.accordion-secondary .card-header a {
    color: #fff;
}

html
    .accordion-modern-status-secondary.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #e36159;
    color: #fff !important;
}

html
    .accordion-modern-status-secondary.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #e36159 !important;
}

html .accordion.accordion-tertiary .card-header {
    background-color: #2baab1 !important;
}

html .accordion.accordion-tertiary .card-header a {
    color: #fff;
}

html
    .accordion-modern-status-tertiary.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #2baab1;
    color: #fff !important;
}

html
    .accordion-modern-status-tertiary.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #2baab1 !important;
}

html .accordion.accordion-quaternary .card-header {
    background-color: #383f48 !important;
}

html .accordion.accordion-quaternary .card-header a {
    color: #fff;
}

html
    .accordion-modern-status-quaternary.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #383f48;
    color: #fff !important;
}

html
    .accordion-modern-status-quaternary.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #383f48 !important;
}

html .accordion.accordion-dark .card-header {
    background-color: #212529 !important;
}

html .accordion.accordion-dark .card-header a {
    color: #fff;
}

html
    .accordion-modern-status-dark.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #212529;
    color: #fff !important;
}

html
    .accordion-modern-status-dark.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #212529 !important;
}

html .accordion.accordion-light .card-header {
    background-color: #fff !important;
}

html .accordion.accordion-light .card-header a {
    color: #777;
}

html
    .accordion-modern-status-light.accordion-modern-status
    > .card
    .card-header
    a:not(.collapsed) {
    background-color: #fff;
    color: #777 !important;
}

html
    .accordion-modern-status-light.accordion-modern-status
    > .card:hover
    .card-header
    a.collapsed {
    color: #fff !important;
}

.card-body {
    padding: 2rem !important;
}

.card-body p {
    margin: 0px !important;
    font-size: 14px !important;
}

p {
    color: #323232 !important;
    font-weight: 300 !important;
    line-height: 26px !important;
    margin: 0 0 20px !important;
}

.accordion .card-body {
    min-height: auto !important;
}

h4 {
    font-size: 1.4em !important;
    font-weight: 600 !important;
    line-height: 27px !important;
    margin: 0 0 16px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.accordion .card-title {
    font-size: 16px !important;
    font-weight: 500 !important;
}
